* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #002521;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0.5rem auto;
}
.container img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin: 0 auto;
}
.container h2 {
    color: #ffffff;
    font-weight: 900;
    margin: 0.3rem auto;
    font-size: 1.8rem;
}
.container h3 {
    color: #ffc545;
    font-weight: 900;
    margin: 0.7rem auto;
    font-size: 17px;
    
}
.container h3 a {
    color: #e84f00;
    font-weight: 900;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease-in;
}
.container h3 a:hover {
    color: #01ab00;
    transform: scale(1.1);
}
